

<section class="footer mt-5">
    <div class="w-85 py-5 mx-auto">
        <h2 class="py-5 font-bold text-2xl">Get the FreshCart App </h2>
        <p class="lead">We well send you a link, open it on your phone to download the app</p>

        <div class="input flex py-5">
            <input type="email" class="w-3/4 rounded-lg py-2 me-3" placeholder="  Email...">
            <button class="bg-main text-white rounded-lg py-2 px-5 ms-5">Share App Link </button>
        </div>
<hr>
        <div class="content flex justify-between">
            <div class="a flex py-5 items-center">
                <p class="me-2 m-0">Payment Partners</p>
                <img src="../../../../assets/images/visa-1.svg" alt="">
                <img src="../../../../assets/images/master.svg" alt="">
                <img src="../../../../assets/images/visa.svg" alt="">
                <!-- <img src="assets/OIP (3).jpeg" alt=""> -->
            </div>
            <div class="b flex items-center py-3 gap-2">
                <p class="">Get Deliveries With freshCart</p>
                <img class="w-10" src="../../../../assets/images/app-store.svg" alt="">
                <img class="w-10" src="../../../../assets/images/google-store.svg" alt="">
            </div>
        </div>
    </div>
</section>