
<div class="my-5 py-5">


    <div class="w-90 mx-auto flex flex-col lg:flex-row flex-wrap gap-y-3">

        @for (item of allProduct ; track $index)
        {

            <div  class="product overflow-hidden relative cursor-pointer flex w-1/6 flex-col rounded-xl bg-white bg-clip-border text-gray-700 shadow-md">
                <!-- img , titl -->
                <div 
                [routerLink]="['/productDetails' , item._id ]">
                    <div class="p-0 relative h-96 overflow-hidden bg-white bg-clip-border text-gray-700">
                        <img  [src]="item.imageCover" class="image w-100 object-cover" />
                    </div>
                    <div class="mx-3 py-3">
                        <div class="mb-2 ">
                            <p class=" text-main block font-sans text-base font-medium leading-relaxed text-blue-gray-900 antialiased">
                                {{item.category.name}}
                            </p>
                          
                        </div>
                        <p class="block font-sans text-sm font-normal leading-normal text-gray-700 antialiased opacity-75">
                           {{item.title}}
                        </p>
                    </div>
                    <div class=" p-4 flex items-center justify-between">
                        <p class=" text-main block font-sans text-base font-medium leading-relaxed text-blue-gray-900 antialiased">
                            {{item.price}} EGP
                        </p>
                        <p class="block font-sans text-base font-medium leading-relaxed text-blue-gray-900 antialiased">
                            <i class="fa-solid fa-star rating-color"></i>
                            {{item.ratingsAverage}}
                        </p>
                    </div>
                </div>
                <!-- button -->
                <div class="p-6 product">
                    <button (click)="addToCart(item._id)"
                        class="block bg-main text-white w-full select-none rounded-lg bg-blue-gray-900/10 py-3 px-6 text-center align-middle font-sans text-xs font-bold uppercase text-blue-gray-900 transition-all hover:scale-105 focus:scale-105 focus:opacity-[0.85] active:scale-100 active:opacity-[0.85] disabled:pointer-events-none disabled:opacity-50 disabled:shadow-none"
                        type="button">
                        {{'addToCart' | translate}}
                    </button>
                </div>
        
            </div>

        }

    </div>

</div>